<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<html>
<head>
    <title>Job Portal</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<section class="navigation">
    <ul>
        <li>Home</li>
        <li>Jobs</li>
        <li><a href="login.html">Login</a></li>
        <li class="register-dropdown">
            <button class="register-btn">Register</button>
            <div class="register-as">
                <a href="signup.html">Register as Candidate</a>
                <a href="signupasrecuriter.html">Register as Recruiter</a>
            </div>
        </li>
    </ul>
</section>
</body>
</html>
