<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | DrillTheWay</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<section class="navigation">
    <ul>
        <li>Home</li>
        <li>Jobs</li>
        <li><a href="login.html">Login</a></li>
        <li class="register-dropdown">
            <button class="register-btn">Register</button>
            <div class="register-as">
                <a href="">Register as Candidate</a>
                <a href="signupasrecuriter.html">Register as Recruiter</a>
            </div>
        </li>
    </ul>
</section>
<div class="container">
    <div class="form-box">
        <h2>Login to your account</h2>
        <p>Login to manage your company's job posts and account settings</p>
        <form>
            <label for="email">Email Address</label>
            <input type="email" id="email" placeholder="Enter your email" required>

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" required>

            <button type="submit" class="btn">Login</button>
<!--            <a href="#" class="forgot-password">Forgot password?</a>-->
        </form>
        <p>Don't have an account? <a href="signup.html">Sign up</a></p>
    </div>
</div>
</body>
</html>
